<header class="cabecalho">
    <img src="imagens/logo.png" href="http://localhost:3000" alt="logo">
    <h1 id="titulo">LifePet PetShop</h1>
    <div></div>
    <input id="menu-mobile" type="button" value="shopping_cart" class="material-icons-round" />
    <input id="menu-mobile" type="button" value="menu" class="material-icons-round" />
   <!--<div id='busca'>
        <form action="/search" class="search" method="get">
            <input id="txtbusca" name="q" type="text" value="" placeholder="O que seu pet precisa" />
            <input id="btnBusca" type="submit" class="material-icons-round" value="search" />
        </form>
    </div>--> 
    <div class="opcoes">
        <!--<a id="pedidos" href="carrinho">Carrinho</a>
        <a id="promocoes" href="promoções">Promoções</a>-->
        <a id="servicos" href="/servicos">Serviços</a>
    </div>
    <nav class="nav">
        <a id="login" href="/login" title="login">Login|Crie sua conta</a>
    </nav>
</header>