<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/agendamento.css">
 
    <title>Agendamento</title>
</head>
<body>
    
    <header class="cabecalho">
        <img src="imagens/logo.png" href="http://localhost:3000" alt="logo">
       <!-- <img src="imagens/logo-transparent.png" href="index.html" alt="logo"> -->
        <h1 id="titulo">LifePet PetShop</h1>
        <nav class="nav">
            <a id="login" href="http://localhost:4000" title="login">Página inicial</a>
        </nav>
    </header>

    <main class="corpo">
        <div class="container">

            <div class="form">
                <div class="titulo-form">
                    <h1 class="">Agendamento</h1>

                </div>
                
                <form>
                    <input type="text" placeholder="Nome do animal" id="animal" required /><br>
                    <label>Serviço</label><br>
                    <input type="radio" id="servico" name="servico" value="Banho_tosa" required />Banho e Tosa
                    <input type="radio"  id="servico" name="servico" value="veterinario" required />Veterinário
                    <input type="radio" id="servico" name="servico" value="creche" required />Creche <br>
                    <label>Porte</label><br>
                    <input type="radio" id="porte" name="porte" value="pequeno" required />Pequeno
                    <input type="radio"  id="porte" name="porte" value="medio" required />Médio
                    <input type="radio" id="porte" name="porte" value="grande" required />Grande <br>
                    <label>Espécie</label><br>
                    <input type="radio" name="especie" id="especie" value="cachorro" required />Cachorro
                    <input type="radio" name="especie" value=""id="especie" value="gato" required />Gato <br>
                    <input type="text" placeholder="Nome do dono" id="nome" required />
                    <input type="text" placeholder="CPF" id="cpf" required/>
                    <input type="text" placeholder="Telefone" id="telefone" required/>
                    <input type="date" id="data" required/>
                    
                    <button type="button" onclick="criando()">Agendar</button>

                </form>

            </div>

        </div>
    </main>
    <script src="./js/fetch/servico/criandoServico.js"></script>
</body>
</html>