<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/agendamento.css">
 
    <title>Agendamento</title>
</head>
<body>
    
    <header class="cabecalho">
        <img src="imagens/logo.png" href="http://localhost:3000" alt="logo">
       <!-- <img src="imagens/logo-transparent.png" href="index.html" alt="logo"> -->
        <h1 id="titulo">LifePet PetShop</h1>
        <nav class="nav">
            <a id="login" href="http://localhost:4000" title="login">Página inicial</a>
        </nav>
    </header>

    <main class="corpo">
        <div class="container">

            <div class="form">
                <div class="titulo-form">
                    <h1 class="">Agendamento</h1>

                </div>
                
                <form>
                    <input type="text" placeholder="Nome do animal" id="animal" required /><br>
                    <label>Serviço</label><br>
                    <select name="servico" id="servico">
                        <option  value="Banho_tosa">Banho e Tosa</option>
                        <option value="veterinario">Veterinário</option>
                        <option value="creche">Creche</option>
                    </select><br>
                    <label>Porte</label><br>
                    <select name="porte" id="porte">
                        <option  value="pequeno">Pequeno</option>
                        <option value="medio">Médio</option>
                        <option value="grande">Grande</option>
                    </select><br>
                    <label>Espécie</label><br>
                     <select name="especie" id="especie">
                        <option  value="cachorro">Cachorro</option>
                        <option value="gato">Gato</option>
                    </select><br>

                    <input type="text" placeholder="Nome do dono" id="nome" required />
                    <input type="text" placeholder="CPF" id="cpf" required/>
                    <input type="text" placeholder="Telefone" id="telefone" required/>
                    <input type="date" id="data" required/>
                    <button type="button" onclick="criando()">Agendar</button>

                </form>

            </div>

        </div>
    </main>
    <script src="./js/fetch/servico/criandoServico.js"></script>
</body>
</html>