<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/perfil.css">

    <title>Perfil</title>
</head>
<body>
    
    <header class="cabecalho">
        <img src="imagens/logo.png" href="http://localhost:3000" alt="logo">
       <!-- <img src="imagens/logo-transparent.png" href="index.html" alt="logo"> -->
        <h1 id="titulo">LifePet PetShop</h1>
        <nav class="nav">
            <a id="login" href="http://localhost:4000" title="login">Página inicial</a>
        </nav>
    </header>

    <main class="corpo">
        <div class="container">

            <div class="form">
                <div class="titulo-form">
                    <h1 class="">Perfil do cliente</h1>

                </div>
                
                <form>
                    <input class="inputUsuario" type="text" placeholder="nome"id="edit-nome" />
                    <input class="inputUsuario" type="text" placeholder="email" id="edit-email" />
                    <input class="inputUsuario" type="text" placeholder="senha" id="edit-senha">
                    <button type="button" onclick="editarUsuario()">Editar</button>

                </form>

            </div>

        </div>
  


   
        <div class="container">

            <div class="form">
                <div class="titulo-form">
                    <h1 class="agendar">Agendamento</h1>

                </div>
                
                <form>
                    <input  class="serv" type="text" placeholder="Nome do animal" id="edit-animal"  /><br>
                    <label>Serviço</label><br>
                    <input class="serv" type="text" id="edit-servico" name="servico" /> <br>
                    <label>Porte</label><br>
                    <input class="serv" type="text" id="edit-porte" name="porte" /> <br> 
                    <label>Espécie</label><br>
                    <input class="serv" type="text" name="especie" id="edit-especie" /> <br> 
                    <input class="serv"  class="serv" type="text" placeholder="Nome do dono" id="edit-dono"/>
                    <input  class="serv" type="text" placeholder="CPF" id="edit-cpf" required/>
                    <input  class="serv" type="text" placeholder="Telefone" id="edit-telefone"/>
                    <input  class="serv" type="date" id="edit-data" />
                    <button  type="button" onclick="editarServico()">Editar</button>

                </form>

            </div>

        </div>

    </main>
    <script src="./js/fetch/usuario/editarUsuario.js"></script>
    <script src="./js/fetch/servico/editarServico.js"></script>
   
</body>
</html>